/*
lh-button:初始类名，有一个默认的样式
lh-button-hover:添加滤镜效果
lh-button-active：链接激活时的阴影
lh-button-rounded：圆角效果
lh-button-circle：圆形按钮
lh-button-hidden：隐藏按钮
lh-button-disasbled：禁用按钮
lh-button-red 红色背景
lh-button-green 绿色背景
lh-button-shadow 点击显示内阴影效果
lh-button-outershadow 外阴影效果
lh-button-press 动画 按下 效果
*/
/*清楚默认样式*/
/*初始化*/
.lh-button{
  display: inline-block;
  cursor: pointer;
  text-align: center;
  line-height: normal;
  vertical-align:middle;
  -webkit-user-drag: none; /*设置元素可拖动，不可拖动，选中后可以*/
  -webkit-user-select: none; /*是否可以选中，不可选中*/
  -moz-user-select: none; /*前缀 下同*/
  -ms-user-select: none;
  user-select: none; /*固定宽高，使之不会增加*/
  box-sizing: border-box;

  font-size: 16px;
  font-family: Georgia, "Times New Roman",
             "Microsoft YaHei", "微软雅黑",
             STXihei, "华文细黑",
             serif;
}
.lh-button{
  text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
}
.lh-button{
  background-color: #e6e6e6;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.80);
  outline: 0;
  border: none;

}
/*去掉聚焦时的边框  兼容火狐*/
.lh-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.lh-button:focus {
    outline: 0;
}
/*按下动画*/
.lh-button-press{
  box-shadow: 0 .4em #999;
  border-radius: 6px;
}
.lh-button-press:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*外阴影*/
.lh-button-outershadow,
.lh-button-outershadow-hover{
  transition: box-shadow .5s;
}

.lh-button-outershadow-hover,
.lh-button-outershadow:hover,
.lh-button-outershadow:focus{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 .5em 1em 0 rgba(0,0,0,0.19) !important;
}
/*添加滤镜，给点击的元素半透明黑色滤镜，造成点击效果*/
.lh-button-press:hover,
.lh-button-press:focus,/**给按下增加效果*/
.lh-button-shadow-hover,
.lh-button-shadow:hover,
.lh-button-shadow:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
/*链接激活时添加阴影*/
.lh-button-shadow-active,
.lh-button-shadow:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 8px rgba(0,0,0, 0.20) inset;
    border:0px !important;
    outline: 0;
}
/*波纹效果 ripple*/
.lh-button-ripple{
  position: relative;
  border: none;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.lh-button-ripple:after {
    content: "";

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.1) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.1) 40%, rgba(0,0,0, 0.10));


    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.lh-button-ripple:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
/*3d效果*/
.lh-button-3d{

}
/*圆角*/
.lh-button-rounded{
  border-radius: 4px;
}
/*圆形按钮*/
.lh-button-circle {
  border-radius: 50%;
}
/*隐藏按钮*/
.lh-button-hidden{
  display: none;
}
/*红色背景*/
.lh-button-red{
  color: #f7f7f7;
  background-color: #f44336;
}
.lh-button-green{
  color: #f7f7f7;
  background-color: #4CAF50;
}
.lh-button-blue{
  color: #f7f7f7;
  background-color: #008CBA;
}
/*禁用*/
/*找到： http://blog.csdn.net/freshlover/article/details/17143341 */
.lh-button[disabled],
.lh-button-disasbled,
.lh-button-disasbled:hover,
.lh-button-disasbled:focus,
.lh-button-disasbled:active{
  cursor: not-allowed;
  /* older safari/Chrome browsers */
  -webkit-opacity: 0.5;
  /* Netscape and Older than Firefox 0.9 */
  -moz-opacity: 0.5;
  /* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/
  -khtml-opacity: 0.5;
  /* IE9 + etc...modern browsers */
  opacity: .5;
  /* IE 4-9 */
  filter:alpha(opacity=50);
  /*This works in IE 8 & 9 too*/
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /*IE4-IE9*/
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
