/*!
 *
 */
*,
*:before,
*:after{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; /*内边距和边框不会增加宽高*/
  font-family: "Microsoft YaHei","Heiti SC",serif;

}
.lh-table{
  border-collapse:collapse;
  border: 1px solid #cdcdcd;
  border-spacing:0;
  empty-cells: show;
}
.lh-table tr{

}
.lh-table th,
.lh-table td{
  text-align: center;
}
