/*!
 *
 */
*,
*:before,
*:after{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; /*内边距和边框不会增加宽高*/
  font-family: "Microsoft YaHei","Heiti SC",serif;

}
.lh-table{
  border-collapse:collapse;
  border: 1px solid #cdcdcd;
  border-spacing:0;
  empty-cells: show;
}
.lh-table caption{
  font-size: 18px;
  line-height: 2em;
}
.lh-table thead{
  background-color: #e4e1e1;

}
.lh-table thead td,
.lh-table thead th{
  padding: .4em 1em;
  text-align: center;
  border-right: 1px solid #cdcdcd;

  font-weight: 600;
}
.lh-table tfoot{
  padding: .4em 1em;
  font-weight: 400;
  text-align: center;
  border-right: 1px solid #cdcdcd;
  font-weight: 800;
}
.lh-table tr{

}
.lh-table-odd tbody td {
    background-color: #f2f2f2;
}
.lh-table-event tbody td {
    background-color: #f2f2f2;
}
.lh-table-event tbody tr:nth-child(2n) td,
.lh-table-event tbody tr:nth-child(2n) th{
    background-color: #f2f2f2;
}
.lh-table-striped tbody tr:nth-child(2n-1) td,
.lh-table-striped tbody tr:nth-child(2n-1) th{
    background-color: #f2f2f2;
}
.lh-table-borderend tbody tr,
.lh-table-borderend tbody td{
  border-bottom: 1px solid #cdcdcd;
}
.lh-table tbody th,
.lh-table tbody td{
  padding: .4em 1em;
  font-weight: 400;
  text-align: center;
  border-right: 1px solid #cdcdcd;
}
